@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

h2 {
  border-bottom: 1px solid #999;
  font-family: sans-serif;
  font-weight: normal;
  color: #333;
}

h3 {
  border-bottom: 1px solid #999;
  font-family: sans-serif;
  font-weight: lighter;
  margin-top: 10px;
}

.button {
  background-color: rgba(0, 0, 0, 0.409);
  padding: 20px;
  font-family: sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-size: large;
  color: rgb(59, 59, 59);
  margin-right: 2px;
  display: inline-block;
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
