@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

h2 {
  border-bottom: 1px solid #999;
  font-family: sans-serif;
  font-weight: normal;
  color: #333;
}

h3 {
  border-bottom: 1px solid #999;
  font-family: sans-serif;
  font-weight: lighter;
  margin-top: 10px;
}
