@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

h2 {
  border-bottom: 1px solid #999;
  font-family: sans-serif;
  font-weight: normal;
  color: #333;
}

h3 {
  border-bottom: 1px solid #999;
  font-family: sans-serif;
  font-weight: lighter;
  margin-top: 10px;
}

h4 {
  font-family: sans-serif;
  font-weight: 200;
}

.button {
  background-color: rgba(0, 0, 0, 0.409);
  padding: 20px;
  font-family: sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-size: large;
  color: rgb(59, 59, 59);
  margin-right: 2px;
  display: inline-block;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.button:disabled {
  background-color: rgba(0, 0, 0, 0.06);
}

.wrapElement {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 5px;
  margin: 5px;
}

.focused {
  background-color: rgb(211, 208, 208);
}
